{% extends 'base.html' %}

{%block title%}
Contact
{% endblock %}

        {%block content%}

<!-- Contact Page -->


<div class="container-fluid  " >

        <h1 class="text-center "> Location</h1>
  
  
          <h2 class="text-center"> Events</h2>
          <h4 class="text-center">Kochi</h4text-center>
          <h4 class="text-center">Kerala</h4>
          <h3 class="text-center">Get In Touch</h3text-center>
          <p class="text-center">012345678</p>
          <p class="text-center">Email:events@email.com</p>
          <p class="text-center">Website:www.events.com</p>
  
  
         </div>
{% endblock %}